.style-guide {

  .block {
    padding: 32px 0;
    margin: 0 32px;
    border-bottom: 1px solid $lightest-gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2:first-child {
      margin-bottom: 32px;
    }

    .btn,
    .input,
    .checkbox-wrapper,
    .radio-option-wrapper,
    .select {

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    a {
      color: $darkest-gray;
      padding: 2px 0;
      display: block;

      &:hover {
        text-decoration: underline;
        color: $blue;
      }
    }
  }
}
