
.select {
  position: relative;
  min-width: 300px;
  border-radius: 4px;
  border: 1px solid $lightest-gray;
  padding: 18px 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;

  &.disabled {
    opacity: 0.8;
    user-select: none;
    box-shadow: inset 0 0 6px $lightest-gray;
    color: $gray;
    cursor: not-allowed;

    select {
      display: none;
    }
  }

  select {
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .arrow {
    font-size: 32px;
    line-height: 8px;
    transform: rotate(90deg);
  }
}
